.container-xxl{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1%;
    margin-top: 1%;
    border: 5px solid black;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-start;
}

.item{
    margin: 1%;
}

*{
    border-radius: 15px;
}