#contenedorprincipal
{
    border: 5px solid black;
}
h1{
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;

    font-family: "comic-sans"; color: yellow;
}
.card{
    width: 100%;
    margin-top:1vh;
    margin-bottom: 1vh;
    background-color: rgba(255,255,255, 0,8);
}
#columnacentral{
    margin-bottom: 1vh;
}
h5{
    font-size: 200%;
    color: black;
}
p{
    color: black;
}
.card-title{
    text-align: center;
}